[Desktop Entry]
Encoding=UTF-8
Name=Host Switcher
Comment=The most NB Host Switcher
Comment[zh_CN]=主机域名配置管理器
Exec=/bin/sh "/usr/local/host-switcher/hs-launcher"
Icon=/usr/local/host-switcher/images/switch.png
Categories=Application;Utility
Version=0.1
Type=Application
Terminal=0

